<div class="container">
  <!-- DATA SHOWED FROM THE CHILD -->
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <!-- DATA SHOWED FROM THE PARENT -->
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
      *ngFor="let item of serverElements"
      [someAlias]="item"
      >
      <!-- Projecting content into the component using ng-content directive  -->
      <p>
        <strong *ngIf="item.type === 'server'" style="color: red">{{ item.content }}</strong>
        <em *ngIf="item.type === 'blueprint'">{{ item.content }}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>
